<launch>

    <param name="robot_description" textfile="$(find teleoperation_vr)/urdf/panda_arm_hand.urdf" />

     <node name="franka_kinematics_solver" pkg="teleoperation_vr"
        type="franka_kinematics_solver" output="screen" /> 
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py"
        args="--wait" output="screen" respawn="true" />  
    <!-- <node name="cartesian_velocity_node" pkg="teleoperation_vr" type="cartesian_velocity_node"
        output="screen" /> -->
  
</launch>